<div style="width:100%">
  <md-input-container class="example-full-width" style="margin:10px 0 0 6px;">
      <input mdInput #nameTheme placeholder="Введите название темы">
  </md-input-container>
  <button md-raised-button color="primary" (click)="addTheme(nameTheme.value)">Добавить</button>
</div>

<!--
<md-grid-list cols="2" rowHeight = "2:1" style="min-width: 260px;">
    <md-grid-tile *ngFor="let theme of this.BdReadAndWriteService.themes | async">
        
        <a md-raised-button routerLink="{{ theme.$key }}" style="padding:20px;"> {{ theme.theme }} </a>
        
    
    </md-grid-tile>
</md-grid-list>
-->
<md-grid-list cols="1" rowHeight = "100px" style="min-width: 260px;">
        <md-grid-tile *ngFor="let theme of this.BdReadAndWriteService.themes | async">
            
            <a md-raised-button routerLink="{{ theme.$key }}" style="padding:20px; margin:0 30px; width:100%"> {{ theme.theme }} </a>
            
        
        </md-grid-tile>
    </md-grid-list>
